package pages

import "github.com/dev-sandip/go-auth/templates/layouts"

templ Index() {
	@layouts.Base("Home") {
		<div class="container">
			<button>Login</button>
			<button>Register</button>
		</div>
	}
}
