package components

import "github.com/dev-sandip/go-auth/cmd/utils"

templ Markdown(children string) {
	if html, err := utils.MarkdownToHTML([]byte(children)); err == nil {
		<div class="markdown-content">
			@templ.Raw(string(html))
		</div>
	} else {
		<div class="markdown-error">Error rendering markdown: { err.Error() }</div>
	}
}
