package components

import "github.com/dev-sandip/go-auth/cmd/utils"

templ Markdown(children string) {
	<div class="markdown-content">
		@templ.Raw(string(utils.MarkdownToHTML([]byte(children))))
	</div>
}
